.jogoDaVelha {
    display: flex;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border-radius: 50px;
    background-color: #fff;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    overflow: hidden;
    height: 320px;
    width: 320px;
    margin: 40px;
}

.dashBoard{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    cursor: pointer;
    color: #333;
}

.cell:hover {
    background-color: #f9f9f9;
}

.cell.X {
    color: #f44336;
}

.cell.O {
    color: #2196f3;
}

.score {
    font-size: 24px;
    text-align: center;
}

#player1 {
    color: #f44336;
}

#player2 {
    color: #2196f3;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    height: 40px;
    width: 120px;
    font-size: 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}

@media (max-width: 950px) {
    .board {
        height: 50vh;
        width: 50vh;
    }
    .jogoDaVelha {
        height: 100vh;
        width: 100vw;
    }
    .jogoDaVelha {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}