* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.tabs {
    width: 220px;
    height: 100%;
    padding: 10px;
    padding-right: 0px;
    position: fixed;
    z-index: 9999;
    top: 0px;
    background: url('../img/bg-menu.jpg');
    display: flex;
    background-size: cover;
    background-position: center center;
    justify-content: center;
    flex-direction: column;
}

.tab {
    cursor: pointer;
    padding: 10px;
    background: rgba(700, 700, 700, 0.5);
    backdrop-filter: blur(100px);
    border-radius: 20px 0px 0px 20px;
    margin-bottom: 5px;
}

.tab-content-container {
    height: 100%;
    margin-left: 220px;
    backdrop-filter: blur(100px);
    padding: 10px;
}

.tab-content {
    display: none;
}

@media (max-width: 720px) {
    .tabs {
        width: 100%;
        top: 50px;
        height: auto;
        position: fixed;
        display: none;
        padding-right: 10px;
        grid-template-columns: repeat(3, 1fr);
    }

    .tab {
        border-radius: 20px;
    }

    .tab-content-container {
        margin-left: 0;
        padding: 5px;
    }

    .tab-content {
        padding: 5px;
    }

    #menu-checkbox {
        display: none;
    }

    .hamburguer {
        display: block;
        cursor: pointer;
        padding: 10px;
        background-color: #f1f1f1;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-bottom: 10px;
        text-align: center;
        font-weight: bold;
    }

    #menu-checkbox:checked~.tabs {
        display: grid;
    }
}